* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: white;
    overflow: hidden;
}

/* MENU */
.menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu button {
    padding: 10px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* GAME */
#gameScreen {
    display: none;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.hud {
    display: flex;
    gap: 20px;
    margin: 20px;
}

/* BOARD */
.board {
    display: grid;
    grid-template-columns: repeat(6, 70px);
    gap: 10px;
}

/* CARD */
.card {
    width: 70px;
    height: 70px;
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    font-size: 24px;
    transition: 0.2s;
}

.card.flipped {
    background: white;
    color: black;
}

/* FADING EFFECT */
.faded {
    opacity: 0.3;
}

/* GAME OVER */
#gameOver {
    display: none;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}